<nav class="navbar navbar-expand-lg navbar-light vw-100 mt-0 pt-0 fixed-top"
    style="background-color: rgb(226, 240, 245); margin: bottom 0px; position:fixed;">
    <a class="navbar-brand" href="#"
      style="font-weight: bold; font-size:x-large; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">dELIVER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fa-align-justify fa fa-align-right mobile-text" id="navbarNavDropdown"
      style="display: flex; justify-content:center; align-items:center; margin-left:88rem;">
    </div>
  </nav>