
<footer class="bg text-center eee text-lg-start d-flex justify-content-center  p-4 border-bottom" style="position: relative; z-index:1002; width:100%; background: #90e2ef;" >
<div class="text-center text-dark p-4  content d-flex justify-content-center " style="">
    <a class=" text-center text-dark text-decoration-none" href="#">dELIVER.com</a>
  © 2023 Copyright 
</div>
</footer>
<style>
 .content{
    padding-left:;
 }
footer{
  position: fixed;
}
</style>