 <nav class="navbar navbar-expand-lg navbar-light vw-100 mt-0 pt-0 fixed-top"
    style="background-color: rgb(226, 240, 245); margin: bottom 0px; position:fixed;">
    <a class="navbar-brand" href="#"
      style="font-weight: bold; font-size:x-large; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">dELIVER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fa-align-justify fa fa-align-right mobile-text" id="navbarNavDropdown"
      style="display: flex; justify-content:center; align-items:center; margin-left:88rem;">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/user/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/edit-profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Logins
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="/admin/admin-log" href="/admin/admin-log">Admin Login</a>
            <a class="/user/logout" href="/user/logout">User logout</a>
          </div>
        </li>&nbsp;
        <a href="/cart">
          <li class="nav-item">
            <i class="fa-solid fa-cart-shopping" style="color: black; padding-top:14px;"></i>
          </li>
        </a>
      </ul>
    </div>
  </nav>

  