  {{> user-nav}}
  
    <div class="cards " style="width:60rem; height:35rem; margin-left:3rem; margin-top:10rem;">
  <img src="/public/images/mm4.jpeg" class="card-img-top" alt="Sunset Over the Sea"  style="width:60rem; height:65rem; "/>
 
</div>
 <div class="card-body">
    <p class="card-text " style="margin-left:70rem;">dELIVER is 1998 established company baseed on natural ingredients milk and other componenets without any artificial flaovurs .<br>
    Main motive is to generate a helathy society without thw use of any artifial items</p>
  </div>

  