<div class="main-container" >
<aside class="aside " style="position: fixed; margin: top 5rem;">
    <a href="" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-table-columns"></i>dashboard</a>
    <a href="/admin/category" class="admin-dash p-5"><i class="fa-solid fa-user"></i>Category</a>
    <a href="/products" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-bag-shopping"></i>products</a>
    <a href="" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip"></i>coupons</a>
    <a href="" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-calendar"></i>orders</a>
    <a href="/admin/admin-user" class="admin-dash p-5"><i class="fa-solid fa-users"></i>users</a>
       <a href="/admin/logout" class="logout-button">logout</a>

</aside>
</div>
<div class="footer" style="background-color: rgb(211, 209, 209); display:flex; justify-content:center">copyright@2022</div>


