{{> admin-nav}}
<link rel="stylesheet" href="/public/stylesheets/admin-dash.css">

<div class="main-container" style="height:100vh">
 <div class="main-container">
   <div class="main-container log">
    <aside class="aside " style="position: fixed; margin: top 5rem; background:rgb(246, 246, 246)">
        <a href="/admin/admin-dash" class="admin-dash p-5 mt-5"><i class="fa-sharp fa-solid fa-table-columns"> &nbsp; </i> Dashboard</a>
        <a href="/admin/category" class="admin-dash p-5"><i class="fa-solid fa-user">&nbsp;  </i> Category</a>
        <a href="/admin/products" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-bag-shopping">&nbsp; </i>Products</a>
        <a href="/admin/coupons" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip">&nbsp;  </i>Coupons</a>
        <a href="/admin/admin-order" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-calendar">&nbsp;  </i>Orders</a>
        <a href="/admin/admin-user" class="admin-dash p-5"><i class="fa-solid fa-users"> &nbsp; </i>Users</a>
        <a href="/admin/banner" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip"> &nbsp; </i>Banners</a>
        <a href="/admin/logout" class="logout-button logout" style="background: rgb(238, 224, 224); color:red"><i class="fa-solid fa-power-off"></i>Logout</a>
    </aside>
</div>
</div>
  <section class="container" style=" margin-left: 20rem; margin-top:9rem;">
    <div class="row" style="width: 700px;">
      <div class="container-fluid mx-auto d-flex justify-content-between" style=" height:8rem">
        <h1 class="ms-0">Category Management</h1>
        <div class="mt-5">
          <a class="btn btn-success" href="/admin/add-category">Add Category</a>
        </div>
      </div>
      <div class="col-12 table-overflow">
        <div class="container  mx-auto" style="width: 800 px;">
          <table class="table text-center mt-4" id="datatable">
            <thead class="bg-success text-light">
              <tr>
                <th>Category Name</th>
                <th style="width: 16.66%">Action</th>
              </tr>
            </thead>
            <tbody style="width: 800 px;">

              {{#each categoryList}}
              <tr>
                <td>
                  <p class="mx-0 mb-0 d-flex justify-content-start " style="color: rgb(0, 0, 0); ">{{name}}</p>
                </td>
                {{#if Delete}}
                <td class="text-center">
                  <ul class="d-flex justify-content-start" style="list-style-type: none;">
                    <li class="px-lg-0">
                      <button class=" delete-cat btn btn-success" data-url={{_id}}>block</button>
                    </li>
                  </ul>
                  </td>
                  {{else}}
                  <td class="text-center">
                  <ul class="d-flex justify-content-start" style="list-style-type: none;">
                    <li class="px-lg-0">
                      <button class=" delete-cat btn btn-danger" data-url={{_id}}>block</button>
                    </li>
                  </ul>
                </td>
                 {{/if}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
  </section>
</div>

<script src="/javascript/deleteCategory.js"></script>
<script src="/public/javascript/logout.js"></script>