<section class="empty-cart vh-100 vw-100" style="display: flex; justify-content:center; align-items:center; padding-top:15rem; background:white;  font-family:cursive">
    {{!-- <h1 >Your Cart is Empty</h1> --}}
  <h1>Ooops! No item found...</h1>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_6wA0Oc.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
</section>







