<section style="width: 100%;" class="pdf">
    <h2>DELIVER TOTAL PRODUCT SALES</h2>
</section>
 <table class="product-report">
        <thead>
            <tr>
            <td>Product Name</td>
            <td>Total Amount</td>
            </tr>
        </thead>
        <tbody>
            {{#each productSale}}
            <tr>
                <td> ->  {{_id}}</td>
                <td>RS . {{totalAmount}}</td>
            </tr>
            {{/each}}                 
        </tbody>
    </table>