{{>user-nav}}

  <div id="container" class="py-5">
    <div>
        <form id="otp" action="/user/forgot-otp" method="post">        
        <h1 class="mt-5 mb-4 ml-5">Enter Your Otp</h1>
        <div class="row mb-4">
        <input type="text" id="otp" name="otp" class="form-control" placeholder="Enter OTP">
        </div>
        <div class="row mb-3 " style="margin-left:10rem;">
        <input type="submit" id="submit" class="btn btn-success" value="Submit">
        </div>
    </div>    
    </div>
  </div>

<link rel="stylesheet" href="/stylesheets/signin.css">