{{> user-nav}}
<link rel="stylesheet" href="/public/stylesheets/carousel.css">

<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel" style="margin-top:5.5rem;">
  <div class="carousel-inner">
    <div class="carousel-item active" data-mdb-interval="10000">
      <img src="http://localhost:4000/uploads/{{banner.[0].image.[0]}}" class="d-block w-100" alt="Wild Landscape" />
    </div>
    <div class="carousel-item" data-mdb-interval="2000">
      <img src="http://localhost:4000/uploads/{{banner.[0].image.[1]}}" class="d-block w-100" alt="Camera" />
    </div>
    <div class="carousel-item">
      <img src="http://localhost:4000/uploads/{{banner.[0].image.[2]}}" class="d-block w-100" alt="Exotic Fruits" />
    </div>
  </div>
  <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<a class="btn  goshop" href="/user/products">Go to Shop</a>







<div class="cards" style="margin-left: 9rem;">
  <div class="card col-md-3  ml-5  mb-5   " style="width:22rem; margin-top:5rem;  height:36rem    ">
    <img class="card-img-top" src="/public/images/mm6.jpeg" alt="Card image cap" style="width: 15rem; height:15rem  ">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">BUY YOUR PRODUCTS HERE!!!</p>
    </div>
    <div class="card-body">

      <a href="/user/products" class="card-link btn mb-2" style="background-color:rgb(162, 235, 248); width:20rem ">Go
        to shop</a><br>

    </div>
  </div>


  <div class="card col-md-3  ml-5  mb-5   " style="width: 22rem; margin-top:5rem;  height:36rem   ">
    <img class="card-img-top" src="/public/images/mm2.jpeg" alt="Card image cap" style="width: 15rem; height:15rem  ">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">BUY YOUR PRODUCTS HERE!!!</p>
    </div>
    <div class="card-body">

      <a href="/user/products" class="card-link btn mb-2" style="background-color:rgb(162, 235, 248); width:20rem ">Go
        to shop</a><br>

    </div>
  </div>


  <div class="card col-md-3  ml-5  mb-5   " style="width: 22rem; margin-top:5rem;  height:36rem   ">
    <img class="card-img-top" src="/public/images/mm3.jpeg" alt="Card image cap" style="width: 15rem; height:15rem  ">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">BUY YOUR PRODUCTS HERE!!!</p>
    </div>
    <div class="card-body">

      <a href="/user/products" class="card-link btn mb-2" style="background-color:rgb(162, 235, 248); width:20rem ">Go
        to shop</a><br>

    </div>
  </div>


  <div class="card col-md-3  ml-5  mb-5   " style="width: 22rem; margin-top:5rem;  height:36rem   ">
    <img class="card-img-top" src="/public/images/mm4.jpeg" alt="Card image cap" style="width: 15rem; height:15rem  ">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">BUY YOUR PRODUCTS HERE!!!</p>
    </div>
    <div class="card-body">

      <a href="/user/products" class="card-link btn mb-2" style="background-color:rgb(162, 235, 248); width:20rem ">Go
        to shop</a><br>

    </div>
  </div>
  <div class="card col-md-3  ml-5  mb-5   " style="width: 22rem; margin-top:5rem;  height:36rem   ">
    <img class="card-img-top" src="/public/images/mm5.jpeg" alt="Card image cap" style="width: 15rem; height:15rem  ">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">BUY YOUR PRODUCTS HERE!!!</p>
    </div>
    <div class="card-body">

      <a href="/user/products" class="card-link btn mb-2" style="background-color:rgb(162, 235, 248); width:20rem ">Go
        to shop</a><br>

    </div>
  </div>



</div>








{{> user-foot}}
<script src="/public/javascript/carosuel.js"></script>

