

    <nav class="navbar mb-0">
        
        <a class="deliver" href="#">dELIVER</a>
        
        <div class="menu">
            <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">About</a></li>
            </ul>
           
        </div>
        <div class="icon">
           <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> 
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>  
           <a href="#"> <i class="fa-solid fa-user"></i></a>
        </div>
    </nav>
  





    </nav>

<h1>home works!!</h1><div class="logout">
   <a href="/user/logout" class="logout-button">logout</a>
 </div>

