{{> user-nav}}

<div class="contain">
<div class="container">
    <form class="form-1" action="/user/signup" method="post">
        <h1 style="display: flex; justify-content:center">Sign Up</h1>
        <input class="mb-3"type="text" name="firstname" id="firstname" placeholder="firstname"/>
        <input class="mb-3"type="text" name="lastname" id="lastname" placeholder="lastname"/>

        <input class="mb-3"type="text" name="email" id="email" placeholder="E-mail"/>
       <input class="mb-3"type="tel" name="phone" id="phone" placeholder="phone number"/>
        <input class="mb-3" type="password" name="password" id="password" placeholder="password"/>
        <input class="mb-3"type="password" name="password1" id="password1" placeholder="confirm password"/>
         <div class="valid">{{message2}}</div>
           <div class="valid">{{message1}}</div>
            <div class="error">{{errMessage}}</div>

     <p style="display: flex; justify-content:center ">already have an account ? <a href="/user/signin">  login</a></p>
        <button id="submit" type="submit" style="background: grey;">Sign Up</button>
       
    </form>
</div>
</div>