<link rel="stylesheet" href="/public/stylesheets/user-add-coupon.css">

<section class="coup">
    <h3>APPLY COUPON</h3>
    {{!-- {{#if isCouponExist}} --}}
    <form action="/order/coupon" method="post" class="coupon-container">
        <div class="input-container">
            <input type="text" name="coupon" placeholder="Enter coupon code" id="coupon">
            <input type="submit" value="Apply" id="coupon-input">
              <p style="font-size: 1.2rem; height:2rem; color:red;">{{couponMessage}}</p>
        </div>
    </form>
   
  
 
</section>