body {
    
    width: 100vw;
}

.box-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.box {
    width: 25rem;
    height: 15rem;
    background: rgb(246, 245, 245);
    margin-left: 19rem;
    padding-left: 5rem;
    border: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 10rem;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 3rem;
    padding-bottom: 5rem;
    border-width: 0px;
    border-radius: 15px;
    transition: transform 2s;
    box-shadow: 1px 1px 1px 1px rgb(183, 183, 183);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box:hover {
    border-radius: 15%;
    border-color:#b9b9b9;
    /* transform: scale(1.1); */
    transform: scale(1.05);
    /* border-color: rgb(255, 255, 255); */
    background: #ffffff;
}

.chart {
    width: 100%;
    margin-left: 20rem;
    margin-top: 15rem;
    display: flex;
}

.download {
    background-color: rgb(109, 242, 116);
    height: 3.5rem;
    margin-left: 10rem;
}

.grid {
    display: grid;
    height: 3rem;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    height: 1rem;
    margin-top: 7rem;
}


a:hover{
   color : rgb(113, 112, 112) !important;
   text-decoration: none !important;
}
.logout{
    background: none !important;
    color: red !important;
}