body{
    background: rgb(255, 255, 255);
}
section{
    background: rgb(255, 255, 255);
}
a.btn{
    margin-top: 2rem;
        
}
.row{
    margin:2px 2px 2px 2px;
}
img{
    margin:2px 2px 2px 2px;
}
.card{
    background: rgb(241, 241, 241);
}