
.dashboard-container{
    background: grey;
    width: 80%;
    margin-left:23rem;
    margin-top: 10rem;
    
}

table{
    background: rgb(250, 250, 250);
    padding-left: 3rem;
    
} 
h3{
    padding-right: 40rem;
    color: rgb(255, 255, 255);
}
.top{
    display: flex;
    justify-content: flex-end;
}
.create{
    background: rgb(198, 198, 198);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 4rem;
    margin-top: 1rem;
    margin-right:4rem;
    
}
thead{
    background:  grey;
    border: solid;
    border-color: aliceblue;
    height: 6rem;
    color: azure;
    font-weight: bold;
    font-size: 17px;

}
.dashboard{
    padding-top:3rem;
    display: grid;
    grid-column:inherit;
    gap:5rem;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
    width: 7rem;
}
.coupon-div{
    display:grid;
}
