body{
    background: white;
    height: 100vh;
    
}
#order{
    margin-top:4rem;
    background-color: rgb(209, 218, 225);
    height:80rem;
    margin-left:30rem;
    width:47%;
}
#adress{
    background-color:  rgb(239, 239, 239);
    color: blue;
}
input{
    width: 60rem;
    border-radius:5px;
    color: black;
}
.btn{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.order-page-right{
    
    margin-top:3rem;
    width:40%;
    height:40rem;
    margin-left:3rem;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    background-color: rgb(239, 239, 239);
    
}
.adress-details-card-container{
    background: rgb(239, 239, 239);
    width:40%;
    margin-top:5rem;
    height:20rem;
    margin-left:3rem;
    border-radius: 10px;
    /* display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start; */
    padding-left: 2rem;
}
.add{ 
    margin-top:0rem;
    display:flex;     
}
a.btn{
    width: 50rem;
}
#main-adress{
    display: grid;
    grid-template-columns: row;
}

#address{
    width:2rem;
}
.coupon-container{
    background: black;
    width: 20rem;
    margin-right:100rem;
}
 
/* for delete icon */ 
.delete-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* display: inline-block; */
    font-size: 20px;
    color: #f59595;
    width:4rem;
    height:3rem;
    
  }
  
  .delete-icon:hover {
    color:#f44336;
   
  }

  form{
    box-shadow: none !important;
    background-color: rgb(238, 238, 238) !important;
    margin-bottom: 10rem !important;
    /* padding-bottom: 10rem !important; */
    height: 80rem !important;
    margin-top:3rem !important; 
    padding-top: 3rem !important;

}
  label{
    color: rgb(161, 161, 161);
  }