@import url('../node_modules/font-awesome/css/font-awesome.min.css');
*{
    margin: 0;
    padding: 0;
    
    
  }
body{
  background-image: url('../images/—Pngtree—green\ nutrition\ healthy\ milk\ poster_1113700.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;

}

.navbar{
    background-color:#97d4f0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    z-index: 10;
}

/*signup form*/
.container .form-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30vw;
    height: 60rem;   
}
input{
    display: flex;
    flex-direction: column;
    column-gap: 19rem;
    height: 40px;
    border-radius: 15px;
    border-color: #1c1b1b 1px solid;
    border-width: 1px;
    padding-left: 20px;
}
#submit{
    margin-top: 35px;
    margin-bottom: 25px;
    border-radius: 20px;
    border-width: 1px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;  
  
}
.navbarNav{
  width: 5rem;
}
/*for responsive*/


@media (max-width: 501px) {
    html {
      font-size: 15px;
    }
  
    .container .form-1 {
      width: 300px;
    }
  }
  
  @media (min-width: 501px) and (max-width: 768px) {
    html {
      font-size: 14px;
    }
    .container .form-1 {
      width: 450px;
    }
  }
  
  @media (min-width: 765px) and (max-width: 1200px) {
    html {
      font-size: 18px;
    }
  
    .container .form-1 {
      width: 540px;
      height: 550px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .container {
      height: 100vmax;
    }}

    /*for validation*/

    .valid{
      color:rgb(243, 69, 69);
      display: flex;
      text-align: center;
      justify-content: center;
      border-radius: 25px;

    }
    .error{
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
    }

    .error{
      background-color: rgb(243, 69, 69);
      color: rgb(255, 255, 255);
      border-radius: 25px;
      
    }
    p{
      
      font-size:large;
    }
    

    /*for otp page*/
    .text-color {
      color: #000000;
    }
    .card {
      width: 450px;
      height: 300px;
      padding: 10px;
      border-radius: 20px;
      background: #ffffff;
      border: none;
      position: relative;
      margin-top: 7rem;
      border-color: #495057;
      border-width: 10px;
      box-shadow: 2px 2px 2px 2px rgb(83, 83, 83);    
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .container {
      height: 50vh;
      width: 98vw;
                                 
      
      
    }
    .mobile-text {
      color: #cd5c5c;
      font-size: 15px;
    }
    .form-control {
      margin-right: 12px;
    }
    .form-control:focus {
      color: #000000;
      background-color: #d4efdf;
      border-color: #c0392b;
      box-shadow: 60px -16px rgb(0, 0, 0);    
      cursor: pointer;
    }
    #submit-otp{
      background-color: rgb(4, 202, 237);
      border-radius: 10px;
      height: 3rem;
      width: 7rem;
      border-color: black;
      border-width: .01ch;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

    }



    /* admin login page start*/
  
body{
  background-color: #efeeef;
}
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

form{
  height: 500px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(0px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  margin-top: 10px;

}
form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color:#e1f5fe;
}
.admin-input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(237, 236, 236, 0.81);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  border-radius:5px ;
  font-size: 14px;
  font-weight: 300;
  
}
::placeholder{
  color: #575656;
}
button{
  margin-top: 100px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor:pointer;
}
#btn{
  color: #000000;
  background-color: #06c1ff;
  margin-top: 4rem;
}


@media (max-width: 501px) {
 

  form{
    width: 300px;
  }
}

  
    /* admin login page end*/

    .main-container{
      display: flex;
      flex-direction:row;
      align-items:flex-start;
      align-content:flex-start;
    }
    .aside{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:flex-start;
      align-content: space-around;
      background-color: #cbdae1;
      width: 20rem;
      height: 100vh;
      color: white;
    }

    .admin-dash {
      color: #000000;
      font-size: medium;
      text-decoration: none;
      font-size: large;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .admin-dash:hover{
      color:white;
    }
    .logout-button{
      background-color: red;
      /* margin-left: 6rem; */
      width:200px;
      height:25px;
      display: flex;
      justify-content: center;
      align-content: center;
      color: #d4efdf;
      
    }

  
    /* admin dashboard*/
    
    /* admin dashboard*/


  @media (min-width: 501px) and (max-width: 768px) {
    .aside{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:flex-start;
      align-content: space-around;
      background-color: #c9c9c9;
      width: 5rem;
      height: 94vh;
      color: white;
      
    }
   
  }

  
  
  /* admin dashboard end*/


  /*admin -user */
 .btn{
  background-color: greenyellow;
 }
 .red{
  background-color:rgb(234, 59, 59);
 }
 .green{
  background-color: greenyellow;
 }

 #descript{
  margin-top:1rem;
  
 }
/* 

